services:
  idp:
    environment:
      - ISSUER=https://${FQDN_IDP}

  luci:
    environment:
      - REDIRECT_URL=https://${FQDN_LUCI}
      - ISSUER_URL=https://${FQDN_IDP}

  # The Browser is ONLY needed for E2E
  browser:
    container_name: ${DOCKER_SUITE}-browser
    stop_grace_period: 0s
    build:
      context: ./services/browser
      args:
        NODE_VERSION: ${NODE_VERSION}
    networks:
      lucisso-net:
        aliases:
          - "${FQDN_BROWSER}"
    environment:
      - BASE_URL=https://${FQDN_LUCI}
      - FQDN_IDP=${FQDN_IDP}
      - FQDN_LUCI=${FQDN_LUCI}
      - NODE_EXTRA_CA_CERTS=/usr/local/share/ca-certificates/CA.crt
    command: /bin/sh /usr/local/bin/start.sh
    volumes:
      - ./.pki/CA.crt:/usr/local/share/ca-certificates/CA.crt:ro
      - ./services/browser/start.sh:/usr/local/bin/start.sh:ro
      - ./base-startup.sh:/usr/local/bin/base-startup.sh:ro
      - ../test/e2e:/app/tests:ro
      - ./services/browser/playwright.config.js:/app/playwright.config.js:ro
      - ./services/browser/reporter.js:/app/reporter.js:ro
    labels:
      cert.fqdn: "${FQDN_BROWSER}"
    depends_on:
      pki:
        condition: service_completed_successfully
      idp:
        condition: service_healthy
      luci:
        condition: service_healthy
