name: CI (Consumer)

on:
  push:
    branches: [main, master, ci]
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "LICENSE"
  pull_request:
    branches: [main, master]
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "LICENSE"

env:
  REGISTRY: ghcr.io

jobs:
  test:
    name: Run Verification Suite
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Environment
        run: make -sC devenv up DETACHED=true

      - name: Compile
        run: make -sC devenv compile

      - name: Run Unit Tests
        run: make -sC devenv unit-test

      - name: Run E2E Tests
        run: make -sC devenv e2e-test

      - name: Stop Environment
        if: always()
        run: make -sC devenv down
